body {
    margin: 0px;
}
.banner-header {
    width: 100%;
    background-position: center;
    position: relative;
}

.banner-absolute {
    position: absolute;
    background-color: white;
    width: 14px;
    height: 14px;
    opacity: 0.6;
    right: 0px;
    cursor: pointer;
}

.banner-absolute img {
    width: 100%;
}

.banner-bottom {
    background-position: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.in-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url('./assets/img/Banner_backgroung.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a.in-banner {
    height: 100%;
}

.in-banner .banner-left {
    /* height: 100%; */
    margin: 0px 20px;
}

.in-banner .banner-center {
    /* height: 100%; */
    margin: 0px 10px;
}

.in-banner .banner-right {
    /* height: 100%; */
    margin: 0px 20px;
}

.in-banner img {
    max-height: 60px;
    width: 100%;
}


.content {
    height: 1200px;
}

@media screen and (max-width: 1000px) {

    .in-banner {
        justify-content: center;
        align-self: center;
    }

    .in-banner img {
        width: 100%;
    }

    .in-banner .banner-left {
        display: none;
    }

    .in-banner .banner-right {
        display: none;
    }
}


.ads-form {
    margin: 20px;
}

.ads-form input[type="text"] {
    /* width: 400px; */
    height: 30px;
    font-size: 17px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid;
    padding: 3px 10px;
}